:root {
  --fun-font: "Madimi One", sans-serif;
  --primary-font: "Mooli", sans-serif;
  --primary-color: #e8538c;
  --secondary-color: #d2c4d6;
}

.hero {
  text-align: center;
  background-color: var(--primary-color);
  padding: 160px 20px;
}

body {
  font-family: var(--primary-font);
}

img {
  border-radius: 15px;
  max-width: 100%;
}

.content-section {
  padding: 160px 20px;
}

.content-section-content {
  margin: 30px;
}

.content-section h1 {
  font-size: 64px;
  font-family: var(--fun-font);
  line-height: 75px;
}

.content-section h2 {
  font-size: 18px;
}

.content h3 {
  font-size: 24pz;
  line-height: 2;
  margin: 20px 0 0;
}

.content p {
  font-size: 12px;
}

.hero p {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

h1 {
  font-family: var(--fun-font);
  font-size: 96px;
}

h2 {
  font-size: 64px;
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.btn-branding {
  color: var(--primary-color);
  background-color: whitesmoke;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--primary-color);
  border-color: var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  border-color: var(--secondary-color);
  color: whitesmoke;
  background-color: var(--primary-color);
}

.project-description {
  padding: 120px 60px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-section {
    text-align: center;
    padding: 0;
  }
  h1,
  h2 {
    font-size: 45px;
  }
  h1 {
    line-height: 2;
  }
  .hero {
    padding: 80px 20px;
  }
}
