:root {
  --fun-font: "Madimi One", sans-serif;
  --primary-font: "Mooli", sans-serif;
  --primary-color: #bb0049;
  --secondary-color: #d2c4d6;
}

.hero {
  text-align: center;
  background-color: var(--primary-color);
  padding: 160px 20px;
}

body {
  font-family: var(--primary-font);
}

.hero p {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

h1 {
  font-family: var(--fun-font);
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.btn-branding {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--primary-color);
  border-color: var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 120px 60px;
}

@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
}
